<!doctype html>
<html>
    <head>
    <title>Login page</title>
    </head>
    <body>
    <center>
        <h2>Staff Login Page</h2>
        <Form method="POST">
        <br /> 
        Username:
        <br />
        <input name="name" placeholder="Username"/> 
        <br />
        <br />
        Password:
        <br />
        <input name="password" type="password" placeholder="Password"/><hr />
        <button type="submit" name="bt">Login</button>
        </Form>
       <center>
    <! Below is the display functionality of flash messages !>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <p>{{ message }}</p><br>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    </body>
</html>
