<!doctype html>
<html>
    <head>
    <title>Modify a Survey</title>
    </head>
    <body>
    <Form method="POST">
        <button type="submit" name="bt" value="back">Back</button>
    </Form>
    <center>
        <h1>Modify a Survey</h1><br>
        {% if is_authenticated %}
            <p3> {{ currentSurvey.getCourse() }} </p3><br>
            <p3> {{ currentSurvey.getName() }} </p3>
            <Form method="POST">
            {% for i in range(0, numQues) %}
                <select name="{{ i }}" style="width:300px">
                {% for j in range (0, qp|length) %}
                    {% if j == restore[i] %}
                        <option selected="selected" value="{{ j }}"> {{ qp[j].getQuestion() }} </option>>
                    {% else %}
                        <option value="{{ j }}"> {{ qp[j].getQuestion() }} </option>
                    {% endif %}
                {% endfor %}
                </select><br>
            {% endfor %}
            <br>
            <button type="submit" name="bt" value="add_question"> Add Question </button><br>
            <button type="submit" name="bt" value="submit_survey"> Save Survey </button><br>
            </Form>
        {% else %}
            <p1> Request Denied </p1>
        {% endif %}

    <! Below is the display functionality of flash messages !>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
        {% for message in messages %}
            <p>{{ message }}</p><br>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </center>
    </body>
</html>
